*{
    padding: 0;
    margin: 0;
}
body{
    
        font-family: "Young Serif", serif;
        
      }
      
.container{
    padding: 50px;
}

.section-one{
    color: white;
    background-color: black;
    padding: 15px;
}

.section-one__contact{
    background-color: orangered;
    padding: 5px;
    display: inline-block;
    color: white;
    text-decoration: none;
    margin-top: 10px;
}

.section-one__name{
    font-size: 60px;
}

.section-one__position{
    font-size: 30px;
    margin-top: 10px;
}

.section-two,.section-three,.section-four,.section-five{
    margin-top: 20px;
}

.section-two__desc,.section-three__desc,.section-four__desc,.section-five__desc{
    margin-top: 10px;
}
.section-five{
    color: white;
    background-color: black;
    padding: 10px;
}
.section-five__title a{
    color: skyblue;
}

.section-three li,.section-four li{
    list-style: none;
}

.section-container{
    display: flex;
    gap: 20px;
}
.section-three{
    background-color: #6462FD;
    display: inline-block;
    padding: 20px;
    height: 200px;
    border-radius: 10px;
    vertical-align: top;
}

.section-four{
    background-color: #fe7517;
    display: inline-block;
    padding: 20px;
    height: 200px;
    border-radius: 10px;
    vertical-align: top;
    width: 800px;
}
    

.contact-form__input , .contact-form__textarea, .contact-form__submit{
    margin-top: 10px;
}

.contact-form__input{
    padding: 10px;
    border: none;
    border-bottom: solid black 1px;
}

.contact-form__textarea{
    padding: 10px;
    border: none;
    border: solid black 1px;
}

.contact-form__submit{
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    background-color: orangered;
    color: black;
    border: none;
    text-align: center;
    display: block;

}